#fejlec {
	border: 1px dotted black;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
	font-size: 200%;
	font-style: italic;
}

.termek{
	display:table-cell;
	padding: 10px;
}

.termek-belso{
	width: 200px;
	border: 1px dotted black;
	padding: 10px;
}

.termek-kep img{
	width: 180px;
	height: 180px;
}

.termek-kep, .termek-nev, .termek-ar, .termek-kosarba{
	text-align: center;
}

.termek-nev{
	font-size:150%;
}

.termek-ar{
	font-size:225%;
}

/****/

.kosar{
	padding-left: 10px;
	padding-right: 10px;
}

.kosar-belso{
	border: 1px dotted black;
	padding: 5px;
}

.kosar-kep img{
	width: 40px;
	height: 40px;
}

.kosar-kep, .kosar-nev, .kosar-ar, .kosar-kosarba{
	display: table-cell;
}

.kosar-nev{
	font-size:150%;
	text-align: left;
	width: 600px;
	padding-left: 10px;
}

.kosar-ar{
	font-size:225%;
	text-align: right;
	width: 150px;
	padding-right: 10px;
}

.kosar-kosarba{
	width: 100px;
}

.osszesen{
	background-color: darkgray;
}
